@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

body.darkTheme {
  background-color: #333;
  color: #eee;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0 5px #555;
}

header.darkTheme {
  background-color: #222;
  color: #eee;
}

header.darkTheme a {
  color: #eee;
}

.logo {
  font-size: 2rem;
}

.logo a {
  color: #222;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav .menu {
  height: inherit;
}

.nav .menu ul {
  display: flex;
  height: inherit;
  align-items: center;
}
.nav .menu ul li {
  margin: 0 2rem;
}

.menu a {
  color: #222;
}

.switch {
  display: none;
  visibility: hidden;
}

.darkMode .lbl {
  display: inline-block;
  width: 55px;
  height: 25px;
  background-color: #ddd;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.darkMode .lbl::after {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.3s;
}

@keyframes switchAnime {
  100% {
    transform: rotate(90deg);
  }
}

.switch:checked + .lbl::after {
  animation: switchAnime 0.3s;
  left: 33px;
  background-color: #333;
}

.switch:checked + .lbl {
  background-color: teal;
}

.cards-characters--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card-character {
  background-color: #eee;
  border-bottom: 4px solid teal;
  border-radius: 5px;
  padding: 5px;
}

.cards-characters--container.darkTheme .card-character {
  background: linear-gradient(45deg, teal 20%, #222);
  color: #eee;
}

.card-character h3 {
  text-align: center;
  color: #333;
}

.card-character figure img {
  width: 100%;
  border-radius: 5px;
}
